@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar {
    -ms-overflow-style: none;  /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none;     /* Ẩn thanh cuộn trên Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;             /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
  }